*{
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

body{
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #163A24;
}

/* HEADER */
#header{
    background-color: #163A24;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Site header */
.site-header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-logo-link{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.site-logo {
    display: block;
    max-width: 150px;
    width: 100%;
    height: 60px;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.reception-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reception-menu-items:not(:last-child){
    margin-right: 24px;
}

.reception-menu-items {
    display: flex;
}
.reception-menu-items__text {
    color: #FBFAF7;
}

.reception-menu-items-link {    
    background-color: #198C36;
    border-radius: 160px;
}

.reception-menu-items__link {
    color: #FBFAF7;
    text-decoration: none;
    padding: 15px 25px;
}

.reception-menu-items__link:hover{
    opacity: 0.8;
}

.reception-menu-items__link:active{
    opacity: 0.6;
}
/* Site header */


/* Header-hero */
.header-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-hero__about__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    color: #FBFAF7;
    padding: 0;
    margin: 0;
}

.header-hero__about__text {
    color: #FBFAF7;
    padding: 0;
    margin: 0;
    margin-top: 18px;
}

.header-hero__img {
    display: block;
    max-width: 740px; 
    width: 100%;
    height: 580px;
}
/* /Header-hero */

/* Header-Cinema */
.header-cinema {
   margin-top: 130px;
}

.header-cinema__section-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cinema__section-first__img,
.header-cinema__section-second__img {
    display: block;
    max-width: 490px;
    width: 100%;
    height: 510px;
}

.header-cinema__section-first__about {
    margin: 0;
    padding: 0;
    margin-left: 100px;
}

.header-cinema__section-first__about__title,
.header-cinema__section-second__about__title {
    line-height: 54px;
    font-size: 48px;
    font-weight: 600;
    color: #163A24;
    margin: 0;
    padding: 0;
}

.header-cinema__section-first__about__text,
.header-cinema__section-second__about__text {
    color: #163A24;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}

.header-cinema__section-second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 13px;
}

.header-cinema__section-second__about {
    margin: 0;
    padding: 0;
    margin-right: 100px;
}
/* /Header-Cinema */
/* /HEADER */

/* MAIN */
/* Internet serves */
.main-internet-serves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-internet-serves-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    color: #163A24;
    padding: 0;
    margin: 0;
    margin-top: 110px;
    margin-bottom: 65px;
}

.main-internet-serves-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-internet-serves-item {
    list-style: none;
}

.main-internet-serves-items-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-internet-serves-items:not(:last-child) {
    margin-right: 85px;
}

.main-internet-serves-items-link:hover {
    opacity: 0.8;
}

.main-internet-serves-items-link:active {
    opacity: 0.6;
}
/* Internet serves */

/* Serves */
.serves {
    background-color: #163A24;
    margin-top: 120px;
    padding-bottom: 140px;
}

.serves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serves-container-title {
    color: #FBFAF7;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin: 0;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 65px;
}

.serves-container-item {
    display: flex;
    align-items: center;    
    justify-content: center;
    margin: 0;
    padding: 0;
}

.serves-container-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.serves-container-items:not(:last-child) {
    margin-right: 150px;
}

.serves-container-items__img {
    margin-bottom: 30px;
}

.serves-container-items__text {
    color: #FBFAF7;
    margin: 0;
    padding: 0;
}
/* /Serves */

/* Games Shou */
.games-shou {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: #F2EFE6;
}

.games-shou__title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    color: #163A24;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 110px;
    margin-bottom: 30px;
}

.games-shou__text {
    color: #163A24;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.games-shou__img {
    display: block;
    max-width: 1180px;
    width: 100%;
    height: 335px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 135px;
}
/* /Games Shou */

/* Person works */
.person-works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 100px;
}

.person-works__about {
    margin: 0;
    padding: 0;
    margin-right: 220px;
}

.person-works__about__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    color: #163A24;
    margin: 0;
    padding: 0;
}

.person-works__about__text {
    margin: 0;
    padding: 0;
    margin-top: 27px;
    color: #163A24;
    text-align: left;
}
/* /Person works */

/*  About Section */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.about-section__title {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    color: #163A24;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}

.about-section__text {
    color: #163A24;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.about-section__menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section__menu__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;

}

.about-section__menu__items:not(:last-child) {
    margin-right: 40px;
}

.about-section__menu__items__img {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.about-section__menu__items__title {
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    line-height: 32px;
    color: #163A24;
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
}

.about-section__menu__items__title:not(:last-child) {
    margin-right: 50px;
}

.about-section__menu__items__nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.about-section__menu__items__nav-items {
    list-style: inside;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
/*  /About Section */

/* Mons course */
.mons-course {
    background-color: #F2EFE6;
    text-align: center;
}

.mons-course__title {
    color: rgba(22, 58, 36, 1);
    font-size: 47px;
    line-height: 54px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-top: 115px;
    padding-bottom: 26px;
}

.mons-course__text{
    color: rgba(22, 58, 36, 1);
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.mons-course__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mons-course__section__time:not(:last-child) {
    margin-right: 20px;
}

.mons-course__section__time:not(:first-child) {
    margin-left: 20px;
}

.mons-course__section__time__text {
    padding: 0;
    margin: 0;
    color: #163A24;
}

.mons-course__section__time__title {
    font-size: 28px;

    font-weight: 900;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.mons-course__section__div {
    padding-top: 50px;
    padding-bottom: 125px;
}

.mons-course__section__div__link {
    background-color: #198C36;
    color: #FBFAF7;
    border-radius: 160px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding: 15px 25px;
}

.mons-course__section__div__link:hover{
    opacity: 0.8;
}

.mons-course__section__div__link:active{
    opacity: 0.8;
}
/* /Mons course */

/*  Resource */
.resource {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.resource__about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 130px;
}

.resource__about__title {
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    color: #163A24;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.resource__about__text {
    color: #163A24;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.resource__about__link {
    text-decoration: none;
    color: #FBFAF7;
    line-height: 22px;
    background: #198C36;
    border-radius: 160px;
    padding: 0;
    margin: 0;
    padding: 15px 25px;
}

.resource__about__link:hover {
    opacity: 0.8;
}

.resource__about__link:active {
    opacity: 0.6;
}

.resource__img {
    display: block;
    max-width: 490px;
    width: 100%;
    height: 490px;
    margin: 0;
    padding: 0;
}
/*  /Resource */

/* Purchase */
.purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #163A24;
    margin-top: 130px;
}

.purchase__img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 400px;
}

.purchase__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase__about__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.purchase__about__text {
    color: #FBFAF7;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 20px;
}

.purchase__about__link {
    background-color: rgba(250, 181, 160, 1);
    color: #163A24;
    text-decoration: none;
    border-radius: 160px;
    padding: 0;
    margin: 0;
    padding: 15px 25px;
}

.purchase__about__link:hover {
    opacity: 0.8;
}

.purchase__about__link:active {
    opacity: 0.8;
}
/* Purchase */

/* News section */
.news-section {
    background-color: #F2EFE6;
    padding-bottom: 40px;
}

.news-section-container {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
 
.news-section__about {
    margin-right: auto;
}

.news-section__about__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.news-section__about__text {
    color: #163A24;
    margin: 0;
    padding: 0;
}

.news-section__membership {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 300px;
}

.news-section__input {
    background-color: #FFFFFF;
    border: 1px solid #F2EFE6;
    border-radius: 255px;
    width: 400px;
    margin: 0;
    padding: 0;
    padding: 15px 25px;
}

.news-section__membership__btn {
    background-color: #15762E;
    border-radius: 160px;
    border: none;
    color: #FBFAF7;
    margin-left: -60px;
    padding: 15px 25px;
}

.news-section__membership__text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}
/* /News section */
/* MAIN */

/* FOOTER */
.footer {
    margin-top: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:active {
    opacity: 0.6;
}

.footer__link__img {
    display: flex;
    align-items: center;
}

.footer__internet-links {
    margin: 0;
    padding: 0;
}

.footer__internet-links:not(:last-child) {
    margin-right: 15px;
}

.footer__internet-links:hover {
    opacity: 0.8;
}

.footer__internet-links:active {
    opacity: 0.6;
}

hr{
    border: 1px solid #F2EFE6;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom__text {
    color: #163A24;
    font-size: 14px;
    line-height: 21px;
}

.footer-bottom__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;

}

.footer-bottom__items:not(:last-child){
    margin-right: 15px;
}

.footer-bottom__items {
    list-style: none;
}

.footer-bottom__items__link {
    text-decoration: none;
    color: #198C36;
    font-size: 14px;
    line-height: 19px;
}

.footer-bottom__items__link:hover{
    opacity: 0.8;
}

.footer-bottom__items__link:active{
    opacity: 0.6;
}

/* /FOOTER */
<!-- The End -->